* {
    font-family: BiotifMedium;
  }
  
  .BiotifMedium {
    font-family: BiotifMedium;
  }
  
  .BiotifBold {
    font-family: BiotifBold;
  }
  
  .BiotifExtraBold {
    font-family: BiotifExtraBold;
  }
  
  p,
  p a,
  li,
  p strong,
  p span,
  li strong {
    font-family: 'freight-text-pro', serif;
  }
  