html {
    font-size: 62.5%;
    font-family: BiotifMedium;
}

* {
    font-family: BiotifMedium;
}

p,
p a,
li,
p span {
    font-family: 'freight-text-pro', serif;
}

p {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
}
small {
    font-size: 1.4em; /*smaller;  chekear */
}

a {
    text-decoration: none;
    color: #7537f8;
}

.title-1 {
    font-family: 'BiotifExtrabold', helvetica, arial, sans-serif;
    font-variant-alternates: styleset(alt-a);
    font-size: 4.2em;
    line-height: 45px;
    font-weight: 800;
}



/* margin-top: 1rem;
padding-top: 2rem; */


/*fonts features*/
h1,
h2,
h3,
h4,
h5,
button,
a.button,
a small,
small,
p,
p a,
li,
p strong,
p span,
li strong {
    text-rendering: geometricPrecision;
    font-kerning: normal !important;
}

h1,
h2,
h3,
h4,
h5,
button,
a.button,
a small,
small {
    -moz-font-feature-settings: "kern", "liga", "calt";
    -ms-font-feature-settings: "kern", "liga", "calt";
    -webkit-font-feature-settings: "kern", "liga", "calt";
    font-feature-settings: "kern", "liga", "calt";
}

p,
p a,
li,
p strong,
p span,
li strong,
th,
td {
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}